@import url("reset.css");

/* import font family */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Primary Color (Blue) */
:root {
  --primary-color: #3F51B5; /* Background, Headers/Headings */
  --primary-hover: #303F9F; /* Hover Effects */

/* Secondary Colors */
  /* Light Blue */
  --light-blue: #5C6BC0; /* Background */
  --light-blue-hover: #7986CB; /* Hover Effects */

  /* Yellow */
  --yellow: #FFEB3B; /* Accents, Call-to-Action */
  --yellow-alert: #FBC02D; /* Alerts/Warnings */
  --white-color:#fff;

  /* Red */
  --red: #F44336; /* Error Messages, Danger/Warning */
  --red-hover: #D32F2F; /* Hover Effects */


  --font-family-lato: "Lato", sans-serif;
  --font-family-mono: "Roboto Mono", monospace;
  --font-family-poppins: "Poppins", sans-serif;
}
/* Header styling */
.header {
  background-color: #3F51B5; /* Primary color */
  color: #fff; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
}

/* Contacts styling */
.contacts {
  display: flex;
  align-items: center;
}

.phone-number, .email-address {
  margin-right: 20px;
}

/* Phone number icon */
.fa-solid.fa-phone::before {
  content: "\f095"; /* Unicode for phone icon */
  margin-right: 5px;
}

/* Email icon */
.fa-solid.fa-envelope::before {
  content: "\f0e0"; /* Unicode for envelope icon */
  margin-right: 5px;
}

/* Navigation styling */
nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: capitalize;
  font-family: var(--font-family-mono);

}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}












